name: Build DMG.Framework.DotNet.Grpc.Client (NuGet)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  packages: write

env:
  SOURCE: https://nuget.pkg.github.com/divisionsinc/index.json

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Check out source"
        uses: actions/checkout@v3

      - name: "Setup .NET Core"
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'

      - name: "Build project"
        run: dotnet build --verbosity detailed --configuration Release

      - name: "Build NuGet package"
        run: dotnet pack --verbosity detailed --configuration Release

      - name: "Add GitHub Package NuGet source"
        run: dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github $SOURCE

      - name: "Push NuGet package"
        run: dotnet nuget push "**/*.nupkg" --skip-duplicate --source github --api-key ${{ secrets.GITHUB_TOKEN }}

      - name: Cleanup
        continue-on-error: true
        run: dotnet nuget remove source github
